<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="https://www.affinidi.com">
        <img
          src="static/images/logo.png"
          alt="Logo"
          style="max-height: 50px"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">DASHBOARD</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              CASES
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="/create-case">Create Case</a>
              </li>
              <li><a class="dropdown-item" href="/orders">View Cases</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="ordersDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              ORDERS
            </a>
            <ul class="dropdown-menu" aria-labelledby="ordersDropdown">
              <li>
                <a class="dropdown-item" href="/orders">View All Orders</a>
              </li>
              <li>
                <a class="dropdown-item" href="/orders">Pending Orders</a>
              </li>
              <li>
                <a class="dropdown-item" href="/orders">Completed Orders</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/verify">VERIFY REPORTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">REPORTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ADMINISTRATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>